*.exe
*.o
*~
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
Makefile
Makefile.in
man/Makefile
man/Makefile.in
missing
olddoc/Makefile
olddoc/Makefile.in
.deps/
src/lha
src/Makefile
src/Makefile.in
stamp-h1
tests/lha-test
tests/Makefile
tests/Makefile.in
tests/test.log
GPATH
GRTAGS
GSYMS
GTAGS
